<header class="header text-center">
  <h1 class="blog-name pt-lg-4 mb-0">Hervoy Ancacura</h1>

  <nav class="navbar navbar-expand-lg navbar-dark" >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div id="navigation" class="collapse navbar-collapse flex-column" >
      <div class="profile-section pt-3 pt-lg-0">
        <img class="profile-image mb-3 rounded-circle mx-auto" ngSrc="../../assets/images/Profile_160x160.png
" width="160" height="160" alt="Profile">

        <div class="bio mb-3"><span> </span>
          <br><a [routerLink]="['/about']">Find out more about me</a></div>
        <ul class="social-list list-inline py-3 mx-auto">
          <li class="list-inline-item" #linkedinIcon><a href="{{linkedinProfileUrl}}"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
          <li class="list-inline-item" #githubIcon><a href="{{gitHubProfileUrl}}"><fa-icon [icon]="faGithubAlt"></fa-icon></a></li>
          <li class="list-inline-item" #stackoverflowIcon><a href="{{StackOverFlowProfileUrl}}"><fa-icon [icon]="faStackOverflow"></fa-icon></a></li>
          <li class="list-inline-item" #codePenIcon><a href="{{codePenProfileUrl}}"><fa-icon [icon]="faCodepen"></fa-icon></a></li>
        </ul><!--//social-list-->
        <hr>
      </div><!--//profile-section-->

      <ul class="navbar-nav flex-column text-start">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blogPost']"><fa-icon [icon]="faFileLinesIcon" class="fas fa-fw me-2"></fa-icon>Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']"><fa-icon [icon]="faUserIcon" class="fas fa-fw me-2"></fa-icon>About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/home']"><fa-icon [icon]="faBookmarkIcon" class="fas fa-fw me-2"></fa-icon>Blog <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <div class="my-2 my-md-3">
        <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/" target="_blank">Get in Touch</a>
      </div>
    </div>
  </nav>
</header>
