<article class="about-section py-5">
  <div class="container">
    <h2 class="title mb-3">About Me</h2>

    <p>As a Java developer, my main focus is building high-quality backend solutions that exceed my clients' expectations. My experience in various sectors, from banking to healthcare, has allowed me to adapt to different challenges and environments. Now, I am exploring the world of IoT, developing innovative solutions that combine my Java expertise with my vision of a connected future</p>
    <figure><img class="img-fluid" src="assets/images/blog/about-me.jpg" alt="acerca de mi"></figure>
    <h5 class="mt-5">About The Blog</h5>
    <p>Este blog pretende darte informacion importante o muy usada acerca de algunas librerias, tecnologias, procesos, o simplemente buenas practicas de programacion. Relacionadas al Java Developer</p>
    <h5 class="mt-5">My Skills and Experiences</h5>
    <p>tengo una basta experiencia como desarollador Java, por lo tanto como Backend side es importante saber a que desafio te enfrentas cuando abordas diferentes clase de proyectos. Es decir La experiencia me aporta una mirada diferente a los difrentes desafios que enfrentamos los developers. Las habilidades son varias y muchas. por tanto son especificas y otras transversales. pero hablemos de stack tecnologico. te presnto mi stackof skill.</p>
    <h5 class="mt-5">Side Projects</h5>
    <p>Estoy actualmente trabajando en mi portafolio, este DevBlog, IOT Backend, Angular Front End Portfolio, entre otros. Te dejo mi Github el cual puedes encontrar mayor informacion de los proyectos que me cneuntro trabajando hoy en día.</p>

    <h2 class="title mb-3">Un poco de Publicidad</h2>
    <figure><a href="https://made4dev.com"><img class="img-fluid" src="assets/images/blog/promo-banner.jpg" alt="banner promocional"></a></figure>
  </div>
</article>
<section class="cta-section theme-bg-light py-5">
  <div class="container text-center">
    <h2 class="heading">Newsletter</h2>
    <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
    <div class="single-form-max-width pt-3 mx-auto">
      <form class="signup-form row g-2 g-lg-2 align-items-center">
        <div class="col-12 col-md-9">
          <label class="sr-only" for="semail">Your email</label>
          <input type="email" id="semail" name="semail1" class="form-control me-md-1 semail" placeholder="Enter email">
        </div>
        <div class="col-12 col-md-2">
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</section>
