<article class="blog-post px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <header class="blog-post-header">
      <h2 class="title mb-2">Why Every Developer Should Have A Blog</h2>
      <div class="meta mb-3"><span class="date">Published 2 days ago</span><span class="time">5 min read</span><span class="comment"><a  class="text-link" href="#">4 comments</a></span></div>
    </header>

    <div class="blog-post-body">
      <figure class="blog-banner">
        <a href="https://made4dev.com"><img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg" alt="with my tshirt"></a>
        <figcaption class="mt-2 text-center image-caption">Image Credit: <a class="theme-link" href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. </p>

      <h3 class="mt-5 mb-3">Code Block Example</h3>
      <p>You can get more info at <a class="text-link" href="https://highlightjs.org/" target="_blank">https://highlightjs.org/</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. </p>
      <pre>
					    <code [innerHTML]="safeCode">
					    </code>
				    </pre>
      <h3 class="mt-5 mb-3">Typography</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      <h5 class="my-3">Bullet Points:</h5>
      <ul class="mb-5">
        <li class="mb-2">Lorem ipsum dolor sit amet consectetuer.</li>
        <li class="mb-2">Aenean commodo ligula eget dolor.</li>
        <li class="mb-2">Aenean massa cum sociis natoque penatibus.</li>
      </ul>
      <ol class="mb-5">
        <li class="mb-2">Lorem ipsum dolor sit amet consectetuer.</li>
        <li class="mb-2">Aenean commodo ligula eget dolor.</li>
        <li class="mb-2">Aenean massa cum sociis natoque penatibus.</li>
      </ol>
      <h5 class="my-3">Quote Example:</h5>
      <blockquote class="blockquote m-lg-5 py-3   ps-4 px-lg-5">
        <p class="mb-2">You might not think that programmers are artists, but programming is an extremely creative profession. It's logic-based creativity.</p>
        <footer class="blockquote-footer mt-0">John Romero</footer>
      </blockquote>

      <h5 class="my-3">Table Example:</h5>
      <table class="table table-striped my-5">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Rupert</td>
          <td>Climber</td>
          <td>&#64;mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Lubert</td>
          <td>Pulento</td>
          <td>&#64;fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Darryl</td>
          <td>Fly</td>
          <td>&#64;twitter</td>
        </tr>
        </tbody>
      </table>
      <h3 class="mt-5 mb-3">Video Example</h3>
      <p>¡Hola a todos! En este video, nos sumergiremos en el fascinante mundo de la inteligencia artificial y su impacto en la vida cotidiana. Acompáñenme en este recorrido mientras exploramos cómo la IA está transformando industrias y nuestra forma de interactuar con la tecnología.

        Soy [Nombre], un apasionado de la tecnología con [Número] años de experiencia en el campo de la IA. He trabajado en proyectos emocionantes que van desde el desarrollo de chatbots hasta la implementación de algoritmos de aprendizaje automático en el sector salud.</p>

      <div class="ratio ratio-16x9">
        <iframe title="some video" width="560" height="315" src="https://www.youtube.com/embed/1nxSE0R27Gg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <app-blog-nav></app-blog-nav>
  </div>
</article>
