<section class="cta-section theme-bg-light py-4">
  <div class="container text-center single-col-max-width">
    <button (click)="generatePDF()" #downloadPDFBtn type="button" class="btn btn-primary"><fa-icon [icon]="faDownload" ></fa-icon> Descargar CV en PDF</button>
  </div>
</section>
<div *ngIf="resumeData" class="container resume-container px-3 px-lg-5" id="resume-content">
  <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

    <div class="resume-header">
      <div class="row align-items-center">
        <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
          <h2 class="resume-name mb-0 text-uppercase">{{resumeData.name}}</h2>
          <div class="resume-tagline mb-3 mb-md-0">{{resumeData.position}}</div>
        </div>
        <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><fa-icon [icon]="faPhoneSquare" ></fa-icon>
              <a class="resume-link">
                {{resumeData.phone}}
              </a></li>
            <li class="mb-2"><fa-icon [icon]="faEnvelopeSquare" class="fa-fw fa-lg me-2"></fa-icon>
              <a class="resume-link">
                {{resumeData.email}}
              </a>
            </li>
            <li class="mb-2"><fa-icon [icon]="faGlobe" class="fa-fw fa-lg me-2"></fa-icon>
              <a class="resume-link">
                {{resumeData.website}}
              </a>
            </li>
            <li class="mb-0"><fa-icon [icon]="faMapMarkerAlt" class="fa-fw fa-lg me-2"></fa-icon>
              {{resumeData.location}}
            </li>
          </ul>
        </div>
      </div>

    </div>
    <hr>
    <div class="resume-intro py-3">
      <div class="row align-items-center">
        <div class="col-12 col-md-3 col-xl-2 mx-4 text-center">
          <img class="resume-profile-image mb-3 mb-md-0 me-md-5 ms-md-0 rounded-circle mx-auto" src="assets/images/Profile_160x160.png" alt="profile">
        </div>
        <div class="col text-start">
          <p class="mb-0">{{resumeData.summary}}</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="resume-body">
      <div class="row">
        <div class="resume-main col-12 col-lg-8 col-xl-9 pe-0 pe-lg-5">
          <section class="work-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
            <div class="item mb-3" *ngFor="let exp of resumeData.experience">
              <div class="item-heading row align-items-center mb-2">
                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{exp.role}}</h4>
                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"> {{exp.company}} | {{exp.years}}</div>
              </div>
              <div class="item-content">
                <p>{{exp.description}}</p>
                <ul class="resume-list">
                  <li>Lorem ipsum dolor sit amet, consectetuer.</li>
                  <li>Aenean commodo ligula eget dolor.</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="project-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
            <div class="item mb-3">
              <div class="item-heading row align-items-center mb-2">
                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Project Lorem Ipsum</h4>
                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Open Source</div>

              </div>
              <div class="item-content">
                <p>You can use this section for your side projects. You can <a href="#" class="theme-link">provide a project link here</a> as well. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>


              </div>
            </div>
            <div class="item">
              <div class="item-heading row align-items-center mb-2">
                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Project Sed Fringilla</h4>
                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Open Source</div>

              </div>
              <div class="item-content">
                <p>You can use this section for your side projects. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>

              </div>
            </div>
            <div class="item">
              <div class="item-heading row align-items-center mb-2">
                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Project Praesent </h4>
                <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Open Source</div>

              </div>
              <div class="item-content">
                <p>You can use this section for your side projects. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>

              </div>
            </div>
          </section>
        </div>
        <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
          <section class="skills-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
            <div class="item">
              <h4 class="item-title">Technical</h4>
              <ul class="list-unstyled resume-skills-list">
                <li class="mb-2"  *ngFor="let lenguaje of resumeData.habilidadesTecnicas.lenguajes">
                  {{ lenguaje }}
                </li>
                <li class="mb-2"  *ngFor="let framework of resumeData.habilidadesTecnicas.frameworks">
                  {{ framework }}
                </li>
                <li class="mb-2"  *ngFor="let basesDeDato of resumeData.habilidadesTecnicas.basesDeDatos">
                  {{ basesDeDato }}
                </li>
                <li class="mb-2"  *ngFor="let api of resumeData.habilidadesTecnicas.apis">
                  {{ api }}
                </li>
                <li class="mb-2"  *ngFor="let test of resumeData.habilidadesTecnicas.testing">
                  {{ test }}
                </li>
                <li class="mb-2"  *ngFor="let dev of resumeData.habilidadesTecnicas.devOpsCloud">
                  {{ dev }}
                </li>
                <li class="mb-2"  *ngFor="let tool of resumeData.habilidadesTecnicas.herramientas">
                  {{ tool }}
                </li>
              </ul>
            </div>
            <div class="item">
              <h4 class="item-title">Professional</h4>
              <ul class="list-unstyled resume-skills-list">
                <li class="mb-2">Effective communication</li>
                <li class="mb-2">Team player<li>
                <li class="mb-2">Strong problem solver</li>
                <li>Good time management</li>
              </ul>
            </div>
          </section>
          <section class="education-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
            <ul class="list-unstyled resume-education-list">
              <li class="mb-3">
                <div class="resume-degree font-weight-bold">MSc in Computer Science</div>
                <div class="resume-degree-org text-muted">University College London</div>
                <div class="resume-degree-time text-muted">2012 - 2016</div>
              </li>
              <li>
                <div class="resume-degree font-weight-bold">BSc Maths and Physics</div>
                <div class="resume-degree-org text-muted">Imperial College London</div>
                <div class="resume-degree-time text-muted">2016 - 2017</div>
              </li>
            </ul>
          </section>
          <section class="education-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
            <ul class="list-unstyled resume-awards-list">
              <li class="mb-3">
                <div class="font-weight-bold">Award Lorem Ipsum</div>
                <div class="text-muted">Microsoft lorem ipsum (2023)</div>
              </li>
              <li>
                <div class="font-weight-bold">Award Donec Sodales</div>
                <div class="text-muted">Oracle Aenean (2020)</div>
              </li>
            </ul>
          </section>
          <section class="skills-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
            <ul class="list-unstyled resume-lang-list">
              <li class="mb-2">English <span class="text-muted">(Native)</span></li>
              <li>Spanish <span class="text-muted">(Professional)</span></li>
            </ul>
          </section>
          <section class="skills-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
            <ul class="list-unstyled resume-interests-list mb-0">
              <li class="mb-2">Climbing</li>
              <li class="mb-2">Snowboarding</li>
              <li class="mb-2">Photography</li>
              <li>Travelling</li>
            </ul>
          </section>

        </aside>
      </div>
    </div>
    <hr>
    <div class="resume-footer text-center">
      <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
        <li class="list-inline-item mb-lg-0 me-3"><a href="{{linkedinProfileUrl}}"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
        <li class="list-inline-item mb-lg-0 me-3"><a href="{{gitHubProfileUrl}}"><fa-icon [icon]="faGithubAlt"></fa-icon></a></li>
        <li class="list-inline-item mb-lg-0 me-lg-3"><a href="{{StackOverFlowProfileUrl}}"><fa-icon [icon]="faStackOverflow"></fa-icon></a></li>
        <li class="list-inline-item mb-lg-0 me-lg-3"><a href="{{codePenProfileUrl}}"><fa-icon [icon]="faCodepen"></fa-icon></a></li>
      </ul>
    </div>
  </article>

</div>
